# macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# VS Code settings
.vscode/
.history/

# Node modules
node_modules/

# Composer dependencies
/vendor/

# Laravel specific
/public/storage
/storage/*.key
.env
.env.*
/bootstrap/cache/

# Logs
*.log
storage/logs/

# Cache
.cache/
.idea/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
/dist/
build/
